<div class="textBlock">
        <div class="mainImage">
                {{!-- <img src="./img/products/cintiq-13_0.jpg" alt="Wacom Cintiq 13"> --}}
        </div>
        <div class="mainText">
                <p class="text--title">{{product.type}}</p>
                <p class="mainText__title">
                    {{product.name}}
                </p>
                <p class="mainText__subtitle">{{product.description}}</p>
                <div class="item__data">
                    <p class="text text--storePrice">€{{product.price}}</p>
                    <p class="text">{{product.store}}</p>
                </div>
                <a href="/comprar" class="buttonPay  buttonPay--add">Añadir al carrito</a>
              </div>
              
  </div>