<div class="textBlock">
        <div class="mainImage">
                <img src="{{product.images.[0]}}" alt="{{product.name}}">
        </div>
        <div class="mainText">
                <p class="text--title">{{product.type}}</p>
                <p class="mainText__title">
                    {{product.name}}
                </p>
                <p class="mainText__subtitle">{{product.description}}</p>
                <div class="item__data">
                    <p class="text text--storePrice">€{{product.price}}</p>
                    <p class="text">{{product.stock}}</p>
                </div>
                <a href="/comprar" class="buttonPay  buttonPay--add">Añadir al carrito</a>
              </div>
              
  </div>